header, footer {
	background-color: #FFFFFF;
}
footer {
 background-color: #D9B400;
}

html, body {
	font-family: 'Carme', sans-serif;
	height: 100%;
	margin: 0;
	padding: 0;
}


 h1 {
	color: black;
	font-size: 22px;
	margin: 0 0 10px 0;
	text-align: center;
} 

#hide-listings, #show-listings {
	width: 48%;
}

hr {
	background: #D0D7D9;
	height: 1px;
	margin: 20px 0 20px 0;
	border: none;
}




#pano {
	width: 200px;
	height: 200px;
}

.text {
	font-size: 12px;
}



html, body {
	font-family: 'Carme', sans-serif;
	height: 100%;
	margin: 0;
	padding: 0;
}



input {
	font-size: 12px;
}


#pano {
	width: 200px;
	height: 200px;
}

nav {
	background-color: #9A9C9E;
	color: white;
}

.filter{
	background-color:#BBBEC1;
}
.filter p{
	color: white;
}
