<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<title>WorkSpace Hub Locations</title>
<link rel="stylesheet" type="text/css" href="css/normalize.css" />
<link rel="stylesheet" type="text/css" href="css/layout.css" />
<link rel="stylesheet" type="text/css" href="css/style.css" />

</head>
<body>
	<div class="container_locations">
		<div class="options-box">
			<h1>Find Workspace Hub</h1>
			<div>
				<input id="show-listings" type="button" value="Show Listings"></input>
				<input id="hide-listings" type="button" value="Hide Listings"></input>
				<hr></hr>

			</div>

			<div>
				<input id="zoom-to-area-text" type="text"
					placeholder="Enter your favorite area!"></input> <input
					id="zoom-to-area" type="button" value="Zoom"></input>
			</div>
		</div>
		<div id="map"></div>
	</div>
	<!--
		<a th:href="@{/workspaceHub(id=${workspaceHub.id})}">  <img th:src="${spaceType.spaceImageUrl}" alt="Picture of type of workspace"/>
		</a>
	</div> -->

	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	</script>
	<script async="async" defer="defer"
		src="https://maps.googleapis.com/maps/api/js?libraries=geometry,drawing&amp;key=AIzaSyCf73m4Z2aFWZnaHsFl4OUFoQgiTTsAZng&amp;v=3&amp;callback=initMap">
       </script>

	<script>
	var map;

	// Create a new blank array for all the listing markers.
	var markers = [];

	// This global polygon variable is to ensure only ONE polygon is rendered.
	var polygon = null;

	var locations = [];

	function store_locations(lat, lng) {
		// used to show markers

		/*locations = [ new google.maps.LatLng(lat, lng) ];*/
	}

	var address;
	var name;
	var idW;
	
	</script>
	<script th:inline="javascript">
	var data = [];
	</script>

	<script th:each="workspaceHub:${workspaceHubs}" th:inline="javascript">
	data.push({'id': [(${workspaceHub.id})], 'address':[(${workspaceHub.address})], 'name':[(${workspaceHub.name})]});
	</script>

	<script type="text/javascript">
		console.log(data)
	
		console.log( data[14].address);
		console.log(data[14].name);
		
		
		var myCenter; 
		function initMap() {
				// Create a styles array to use with the map.
			
				var styles = [ {
					featureType : 'water',
					stylers : [ {
						color : '#19a0d8'
					} ]
				}, {
					featureType : 'administrative',
					elementType : 'labels.text.stroke',
					stylers : [ {
						color : '#ffffff'
					}, {
						weight : 6
					} ]
				}, {
					featureType : 'administrative',
					elementType : 'labels.text.fill',
					stylers : [ {
						color : '#e85113'
					} ]
				}, {
					featureType : 'road.highway',
					elementType : 'geometry.stroke',
					stylers : [ {
						color : '#efe9e4'
					}, {
						lightness : -40
					} ]
				}, {
					featureType : 'transit.station',
					stylers : [ {
						weight : 9
					}, {
						hue : '#e85113'
					} ]
				}, {
					featureType : 'road.highway',
					elementType : 'labels.icon',
					stylers : [ {
						visibility : 'off'
					} ]
				}, {
					featureType : 'water',
					elementType : 'labels.text.stroke',
					stylers : [ {
						lightness : 100
					} ]
				}, {
					featureType : 'water',
					elementType : 'labels.text.fill',
					stylers : [ {
						lightness : -100
					} ]
				}, {
					featureType : 'poi',
					elementType : 'geometry',
					stylers : [ {
						visibility : 'on'
					}, {
						color : '#f0e4d3'
					} ]
				}, {
					featureType : 'road.highway',
					elementType : 'geometry.fill',
					stylers : [ {
						color : '#efe9e4'
					}, {
						lightness : -25
					} ]
				} ];

				// Constructor creates a new map - only center and zoom are required.
				map = new google.maps.Map(document.getElementById('map'), {
					center : {
						lat : 40.7413549,
						lng : -82.9988
					},
					zoom : 13,
					styles : styles,
					mapTypeControl : false
				});
				var largeInfowindow = new google.maps.InfoWindow();
				
				// Style the markers a bit. This will be our listing marker icon.
				var defaultIcon = makeMarkerIcon('0091ff');

				// Create a "highlighted location" marker color for when the user
				// mouses over the marker.
				var highlightedIcon = makeMarkerIcon('FFFF24');

				/* function addMarkers() {
					// The following group uses the location array to create an array of
					// markers on initialize.
					if ((map != null) && (locations.length > 0)) {
						for (var i = 0; i < locations.length; i++) {
							// Get the position from the location array.
						}
					} 
			} */
					// Push the marker to our array of markers.
					// Create an onclick event to open the large infowindow at each marker.
				
				// Add an event listener so that the polygon is captured, call the
				// searchWithinPolygon function. This will show the markers in the polygon,
				// and hide any outside of it.
				
		var geocoder = new google.maps.Geocoder();
		// Get the address or place that the user entered.
			
		for (var i =0; i<data.length; i++) {
			address = data[i].address;
			name = data[i].name;
			idW = data[i].id;
			console.log(idW);
		
		/* console.log(address); */
		// Make sure the address isn't blank.
		
			// Geocode the address/area entered to get the center. Then, center the
			// map
			// on it and zoom in
			geocoder
					.geocode(
							{
								'address' : address,
								componentRestrictions : {
									locality : 'Columbus'
								}
							},
							function(results, status) {
							
								if (status == google.maps.GeocoderStatus.OK) {
									locations.push(results[0].geometry.location);
								myCenter = results[0].geometry.location;
								
									/* var mapProp = {
											center: myCenter,
											zoom: 5,
											mapTypeId: google.maps.MapTypeId.ROADMAP
											}; */
								var position = myCenter;
									
									// Create a marker per location, and put into markers array.
									var marker = new google.maps.Marker({
										position : position,
										name : name,
										animation : google.maps.Animation.DROP,
										icon : defaultIcon,
										url : `location?id=${idW} `,
										id: i
									
									}); 

							 		markers.push(marker); 

		marker.addListener('mouseover', function() {
			populateInfoWindow(this, largeInfowindow);
		});
		// Two event listeners - one for mouseover, one for mouseout,
		// to change the colors back and forth.
		marker.addListener('mouseover', function() {
			this.setIcon(highlightedIcon);
		});
		marker.addListener('mouseout', function() {
			this.setIcon(defaultIcon);
		});
		 google.maps.event.addListener(marker, 'click', function() {
			
		        window.location.href = marker.url;
		    });
							 		console.log(markers.length);
							 		console.log(locations);
								}
									
								 /*  else {
									
										 	alert('Geocode was not successful for the following reason: ' + status); 
								}  */
							});
			google.maps.event.addDomListener(window, 'load', initMap);	
			console.log(name);
			console.log(address);
			
			
		function populateInfoWindow(marker, infowindow) {
			// Check to make sure the infowindow is not already opened on this marker.
			if (infowindow.marker != marker) {
				// Clear the infowindow content to give the streetview time to load.
				infowindow.setContent('');
				infowindow.marker = marker;
				// Make sure the marker property is cleared if the infowindow is closed.
				infowindow.addListener('closeclick', function() {
					infowindow.marker = null;
				});
				var streetViewService = new google.maps.StreetViewService();
				var radius = 50;
				// In case the status is OK, which means the pano was found, compute the
				// position of the streetview image, then calculate the heading, then
				// get a
				// panorama from that and set the options
				function getStreetView(data, status) {
		            if (status == google.maps.StreetViewStatus.OK) {
		              var nearStreetViewLocation = data.location.latLng;
		              var heading = google.maps.geometry.spherical.computeHeading(
		                nearStreetViewLocation, marker.position);
		                infowindow.setContent('<div>' + marker.title + '</div><div id="pano"></div>');
		                var panoramaOptions = {
		                  position: nearStreetViewLocation,
		                  pov: {
		                    heading: heading,
		                    pitch: 30
		                  }
		                };
		              var panorama = new google.maps.StreetViewPanorama(
		                document.getElementById('pano'), panoramaOptions);
		            } else {
		              infowindow.setContent('<div>' + marker.title + '</div>' +
		                '<div>No Street View Found</div>');
		            }
		          }
		          // Use streetview service to get the closest streetview image within
		          // 50 meters of the markers position
		          streetViewService.getPanoramaByLocation(marker.position, radius, getStreetView);
		          // Open the infowindow on the correct marker.
		          infowindow.open(map, marker);
		        }
		      }
		}		
			
		}		
	
	 	

	document.getElementById('show-listings').addEventListener('click',
			showListings);
	document.getElementById('hide-listings').addEventListener('click',
	hideListings);
	/* function createMarker(pos, t) {
	    var marker = new google.maps.Marker({       
	        position: pos, 
	        map: m,  // google.maps.Map 
	        title: t      
	    }); 
	    google.maps.event.addListener(marker, 'click', function() { 
	       alert("I am marker " + marker.title); 
	    }); 
	    return marker;  
	} */ 
/* for (var i =0; i<markers.length; i++) {
	var marker = new google.maps.Marker({
		position : position,
		name : name,
		animation : google.maps.Animation.DROP,
		icon : defaultIcon,
		url : `location?id=${idW} `,
		id: i
	
	}); */
/* 	marker.url =  `location?id=${i} `;
	 google.maps.event.addListener(marker, 'click', function() {
	        window.location.href = this.url;
	    });
} */
	

	/* document.getElementById('zoom-to-area').addEventListener('click',
			function() {
				zoomToArea();
			}); */


		// This function will loop through the markers array and display them all.
		function showListings() {
			var bounds = new google.maps.LatLngBounds();
			// Extend the boundaries of the map for each marker and display the marker
			for (var i = 0; i < markers.length; i++) {
				markers[i].setMap(map);
				bounds.extend(markers[i].position);
				markers[i].url = `location?id=${i+1}`
				markers[i].title  = data[i].name;
			}
			map.fitBounds(bounds)
		}

	 
		// This function will loop through the listings and hide them all.
		function hideListings() {
			for (var i = 0; i < markers.length; i++) {
				markers[i].setMap(null);
			}
		}

		// This function takes in a COLOR, and then creates a new marker
		// icon of that color. The icon will be 21 px wide by 34 high, have an origin
		// of 0, 0 and be anchored at 10, 34).
		function makeMarkerIcon(markerColor) {
			var markerImage = new google.maps.MarkerImage(
					'http://chart.googleapis.com/chart?chst=d_map_spin&chld=1.15|0|'
							+ markerColor + '|40|_|%E2%80%A2', new google.maps.Size(21,
							34), new google.maps.Point(0, 0), new google.maps.Point(10,
							34), new google.maps.Size(21, 34));
			return markerImage;
		}
		
		
		
		/* function addLink() {
			for (var i = 0; i < markers.length; i++) {
				document.getElement
			}
		} */
</script>


	<!-- <script src="/js/script.js"></script> -->




</body>
</html>
