<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<title>Workspace Hub -- Spacetype</title>
<link href="https://fonts.googleapis.com/css?family=Carme"
	rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="css/normalize.css" />
<link rel="stylesheet" type="text/css" href="css/layout.css" />
<link rel="stylesheet" type="text/css" href="css/style.css" />
</head>

<body>


	<header>
		<img src="images/Logo.png" alt="logo" class="logo-image" />

	</header>
	<nav class="navbar">
		<a href="/">Home</a>
		<div class="dropdown">
			<button class="dropbtn">
				Categories <i class="fa fa-caret-down"></i>
			</button>
			<div class="dropdown-content">
				<a th:each="spaceType: ${spaceTypes}"
					th:text="${spaceType.spaceTitle}"
					th:href="@{/spaceType(id=${spaceType.spaceTypeId})}"></a>
			</div>
		</div>
		<a href="/locations.html">Locations</a> <a href="/about-us.html">About
			Us</a>
	</nav>
	<div class="container_location">


		<h2 class="location-name" th:text="${location.displayName}"></h2>
		<div class="location-info">



			<img class="location-image" th:src="${location.imageUrl}"
				alt="Picture of Work Space" />
			<p class="location-address1"
				th:text="${location.displayAddressLineOne}"></p>
			<h3 class="location-details">Location Details</h3>
			<p class="location-address2"
				th:text="${location.displayAddressLineTwo}"></p>
			<!-- <p class="location-website" th:text="${location.website}"></p> -->
			<a class="location-website" th:href="${location.website}">
				<p>Visit Website</p>
			</a>
			<h3 class="hours">Hours</h3>
			<p class="location-hours"
				th:text="'Hours: ' + ${location.hours.hoursTitle}"></p>
			<p class="location-parking"
				th:text="'Parking: ' + ${location.parking.parkingTitle}"></p>
			<p class="location-cost"
				th:text="'Cost: ' + ${location.cost.costTitle}"></p>
			<p class="location-capacity"
				th:text="'Capacity: ' + ${location.capacity.capacityTitle}"></p>
			<div class = "map2" id="map2"></div>
		</div>

	</div>
	<footer class="location">
		<p>Copyright 2017</p>
		<div class="contact-stuff">
			<a href="www.facebook.com"><img src="images/facebook.png"
				alt="facebook" /></a> <a href="www.twitter.com"><img
				src="images/twitter.png" alt="twitter" /></a> <a
				href="mailto:email@email.com"><img src="images/email.jpg"
				alt="email" /></a> <img src="images/copyright.png" alt="copyright" />
		</div>
	</footer>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	</script>
	<script async="async" defer="defer"
		src="https://maps.googleapis.com/maps/api/js?libraries=geometry,drawing&amp;key=AIzaSyCf73m4Z2aFWZnaHsFl4OUFoQgiTTsAZng&amp;v=3&amp;callback=initMap">
       </script>
	<script th:inline="javascript">
       var address = [(${location.address})] ;
       var name =  [(${location.name})];
       console.log(address);
       </script>
	<script>
   	var myCenter;
	function initMap() {
			// Create a styles array to use with the map.

			var styles = [ {
				featureType : 'water',
				stylers : [ {
					color : '#19a0d8'
				} ]
			}, {
				featureType : 'administrative',
				elementType : 'labels.text.stroke',
				stylers : [ {
					color : '#ffffff'
				}, {
					weight : 6
				} ]
			}, {
				featureType : 'administrative',
				elementType : 'labels.text.fill',
				stylers : [ {
					color : '#e85113'
				} ]
			}, {
				featureType : 'road.highway',
				elementType : 'geometry.stroke',
				stylers : [ {
					color : '#efe9e4'
				}, {
					lightness : -40
				} ]
			}, {
				featureType : 'transit.station',
				stylers : [ {
					weight : 9
				}, {
					hue : '#e85113'
				} ]
			}, {
				featureType : 'road.highway',
				elementType : 'labels.icon',
				stylers : [ {
					visibility : 'off'
				} ]
			}, {
				featureType : 'water',
				elementType : 'labels.text.stroke',
				stylers : [ {
					lightness : 100
				} ]
			}, {
				featureType : 'water',
				elementType : 'labels.text.fill',
				stylers : [ {
					lightness : -100
				} ]
			}, {
				featureType : 'poi',
				elementType : 'geometry',
				stylers : [ {
					visibility : 'on'
				}, {
					color : '#f0e4d3'
				} ]
			}, {
				featureType : 'road.highway',
				elementType : 'geometry.fill',
				stylers : [ {
					color : '#efe9e4'
				}, {
					lightness : -25
				} ]
			} ];

			// Constructor creates a new map - only center and zoom are required.
			
			var largeInfowindow = new google.maps.InfoWindow();

			// Style the markers a bit. This will be our listing marker icon.
			var defaultIcon = makeMarkerIcon('0091ff');

			// Create a "highlighted location" marker color for when the user
			// mouses over the marker.
			var highlightedIcon = makeMarkerIcon('FFFF24');

			/* function addMarkers() {
				// The following group uses the location array to create an array of
				// markers on initialize.
				if ((map != null) && (locations.length > 0)) {
					for (var i = 0; i < locations.length; i++) {
						// Get the position from the location array.
					}
				}
		} */
				// Push the marker to our array of markers.
				// Create an onclick event to open the large infowindow at each marker.

			// Add an event listener so that the polygon is captured, call the
			// searchWithinPolygon function. This will show the markers in the polygon,
			// and hide any outside of it.

	var geocoder = new google.maps.Geocoder();
	// Get the address or place that the user entered.

	

	/* console.log(address); */
	// Make sure the address isn't blank.

		// Geocode the address/area entered to get the center. Then, center the
		// map
		// on it and zoom in
		geocoder
				.geocode(
						{
							'address' : address,
							componentRestrictions : {
								/* locality : 'Columbus' */
							}
						},
						function(results, status) {

							if (status == google.maps.GeocoderStatus.OK) {
								/* locations.push(results[0].geometry.location); */
							myCenter = results[0].geometry.location;

								/* var mapProp = {
										center: myCenter,
										zoom: 5,
										mapTypeId: google.maps.MapTypeId.ROADMAP
										}; */
							var position = myCenter;
										console.log(position);
										console.log(position.lat);

								// Create a marker per location, and put into markers array.
								var marker = new google.maps.Marker({
									position : position,
									name : name,
									animation : google.maps.Animation.DROP,
									icon : defaultIcon,
								
									/* id: i */

								});

						 		/* markers.push(marker); */
						 		map = new google.maps.Map(document.getElementById('map2'), {
				center : {
					lat : 39.9612,
					lng : -82.9988
				},
				zoom : 8,
				styles : styles,
				mapTypeControl : false
			});
						 		var bounds = new google.maps.LatLngBounds();
	// Extend the boundaries of the map for each marker and display the marker
	
		marker.setMap(map);
		bounds.extend(marker.position);
/* 	map.fitBounds(bounds) */

	marker.addListener('mouseover', function() {
		document.getElementById('map2').height =  "200%";
		populateInfoWindow(this, largeInfowindow);
	});
	// Two event listeners - one for mouseover, one for mouseout,
	// to change the colors back and forth.
	marker.addListener('mouseover', function() {
		this.setIcon(highlightedIcon);
	});
	marker.addListener('mouseout', function() {
		this.setIcon(defaultIcon);
	});
	
							}
						});
							 /*  else {

									 	alert('Geocode was not successful for the following reason: ' + status);
							}  */
					
		google.maps.event.addDomListener(window, 'load', initMap);
	


	function populateInfoWindow(marker, infowindow) {
		// Check to make sure the infowindow is not already opened on this marker.
		if (infowindow.marker != marker) {
			// Clear the infowindow content to give the streetview time to load.
			infowindow.setContent('');
			infowindow.marker = marker;
			// Make sure the marker property is cleared if the infowindow is closed.
			infowindow.addListener('closeclick', function() {
				infowindow.marker = null;
				document.getElementById('map2').height =  "100%";
			});
			var streetViewService = new google.maps.StreetViewService();
			var radius = 50;
			// In case the status is OK, which means the pano was found, compute the
			// position of the streetview image, then calculate the heading, then
			// get a
			// panorama from that and set the options
			function getStreetView(data, status) {
	            if (status == google.maps.StreetViewStatus.OK) {
	              var nearStreetViewLocation = data.location.latLng;
	              var heading = google.maps.geometry.spherical.computeHeading(
	                nearStreetViewLocation, marker.position);
	                infowindow.setContent('<div>' + marker.name + '</div><div id="pano"></div>');
	                var panoramaOptions = {
	                  position: nearStreetViewLocation,
	                  pov: {
	                    heading: heading,
	                    pitch: 30
	                  }
	                };
	              var panorama = new google.maps.StreetViewPanorama(
	                document.getElementById('pano'), panoramaOptions);
	            } else {
	              infowindow.setContent('<div>' + marker.name + '</div>' +
	                '<div>No Street View Found</div>');
	            }
	          }
	          // Use streetview service to get the closest streetview image within
	          // 50 meters of the markers position
	          streetViewService.getPanoramaByLocation(marker.position, radius, getStreetView);
	          // Open the infowindow on the correct marker.
	          infowindow.open(map, marker);
	        }
	      }
	}

	
	function makeMarkerIcon(markerColor) {
		var markerImage = new google.maps.MarkerImage(
				'http://chart.googleapis.com/chart?chst=d_map_spin&chld=1.15|0|'
						+ markerColor + '|40|_|%E2%80%A2', new google.maps.Size(21,
						34), new google.maps.Point(0, 0), new google.maps.Point(10,
						34), new google.maps.Size(21, 34));
		return markerImage;
	}
	
       </script>
       <footer>
		
		<div class="contact-stuff">
			<a href="www.facebook.com"><img src="images/facebook.png"
				alt="facebook" /></a> <a href="www.twitter.com"><img
				src="images/twitter.png" alt="twitter" /></a> <a href="mailto:email@email.com"><img src="images/email.jpg"
				alt="email" /></a> <div class="tooltip"><img src="images/copyright.png" alt="copyright" /> <span class="tooltiptext">Copyright 2017
		</span></div>
		</div>
	</footer>
</body>

</html>
