<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<title>Workspace Hub -- Spacetype</title>
<link href="https://fonts.googleapis.com/css?family=Carme"
	rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="css/normalize.css" />
<link rel="stylesheet" type="text/css" href="css/layout.css" />
<link rel="stylesheet" type="text/css" href="css/style.css" />
</head>

<body>


	<header>
		<img src="images/Logo.png" alt="logo" class="logo-image" />

	</header>
	<nav class = "navbar">
 <a href="/">Home</a>
 <div class="dropdown">
    <button class="dropbtn">Categories
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
           <a th:each="spaceType: ${spaceTypes}" th:text="${spaceType.spaceTitle}" th:href="@{/spaceType(id=${spaceType.spaceTypeId})}"></a>
    </div>
  </div>
  <a href="/locations.html">Locations</a>
         <a href="/about-us.html">About Us</a>
     </nav>
	<div class="container_location">


<h2 class="location-name" th:text="${location.displayName}"></h2>
			<div class="location-info">

				
				<img class="location-image" th:src="${location.imageUrl}"
					alt="Picture of Work Space" />
				<p class="location-address1"
					th:text="${location.displayAddressLineOne}"></p>
					<h3 class = "location-details">Location Details</h3>
					<p class="location-address2"
					th:text="${location.displayAddressLineTwo}"></p>
				<!-- <p class="location-website" th:text="${location.website}"></p> -->
				<a class="location-website" th:href="${location.website}">
					<p >Visit Website</p>
				</a>
				<h3 class = "hours"> Hours</h3>
				<p class="location-hours"
					th:text="'Hours: ' + ${location.hours.hoursTitle}"></p>
				<p class="location-parking"
					th:text="'Parking: ' + ${location.parking.parkingTitle}"></p>
				<p class="location-cost"
					th:text="'Cost: ' + ${location.cost.costTitle}"></p>
				<p class="location-capacity"
					th:text="'Capacity: ' + ${location.capacity.capacityTitle}"></p>
				<p class="street_view">GOOGLE STREET VIEW</p>
			</div>



	</div>
	<footer class = "location">
		<p>Copyright 2017</p>
		<div class="contact-stuff">
			<a href="www.facebook.com"><img src="images/facebook.png"
				alt="facebook" /></a> <a href="www.twitter.com"><img
				src="images/twitter.png" alt="twitter" /></a> <a
				href="mailto:email@email.com"><img src="images/email.jpg"
				alt="email" /></a> <img src="images/copyright.png" alt="copyright" />
		</div>
	</footer>
</body>

</html>
