<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<title>Workspace Hub -- Parking</title>
<link href="https://fonts.googleapis.com/css?family=Carme"
	rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="css/normalize.css" />
<link rel="stylesheet" type="text/css" href="css/layout.css" />
<link rel="stylesheet" type="text/css" href="css/style.css" />
</head>

<body>
	<header>
	  		<img src="images/Logo.png" alt="logo" class="logo-image"/>
	  		<h1>Discover shared spaces or private rooms perfect for any work-day </h1>
	  	</header>

			<div class="placeholder">
		   <nav class = "navbar">
		  <a href="/">Home</a>
		  <div class="dropdown">
		     <button class="dropbtn">Categories
		       <i class="fa fa-caret-down"></i>
		     </button>
		     <div class="dropdown-content">
		            <a th:each="spaceType: ${spaceTypes}" th:text="${spaceType.spaceTitle}" th:href="@{/spaceType(id=${spaceType.spaceTypeId})}"></a>
		     </div>
		   </div>
		   <a href="/locations.html">Locations</a>
		          <a href="/about-us.html">About Us</a>
		      </nav>
		      </div>
<h1>Parking Specs</h1>
<div class="container_filter">

	<section class="filter-sections">
		<div class="workspace-card" th:each="workspaceHub: ${workspaceHubs}">
		<h3><a th:href = "@{/location(id=${workspaceHub.id})}" th:text="${workspaceHub.displayName}">
				</a></h3>
				<img class="card-image" th:src="${workspaceHub.imageUrl}" alt="Picture of Work Space" />
				<p class="card-description" th:text="${workspaceHub.description}"></p>
	</div>
</section>
</div>
<footer>

	<div class="contact-stuff">
		<a href="https://www.facebook.com/"><img src="images/facebook.png"
			alt="facebook" /></a> <a href="https://twitter.com/wecancodeit"><img
			src="images/twitter.png" alt="twitter" /></a> <a href="mailto:email@email.com"><img src="images/email.jpg"
			alt="email" /></a> <div class="tooltip"><img src="images/copyright.png" alt="copyright" /> <span class="tooltiptext">Copyright 2017
	</span></div>
	</div>
	</footer>
</body>
<script src="js/script.js"></script>
</html>
