<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>Workspace Hub -- Spacetype</title>
	<link href="https://fonts.googleapis.com/css?family=Carme" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="css/normalize.css" />
	<link rel="stylesheet" type="text/css" href="css/layout.css" />
	<link rel="stylesheet" type="text/css" href="css/style.css" />
</head>

<body>


	<header>
		<img src="images/Logo.png" alt="logo" class="logo-image" />

	</header>
	<nav class = "navbar">
 <a href="/">Home</a>
 <div class="dropdown">
    <button class="dropbtn">Categories
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
           <a th:each="spaceType: ${spaceTypes}" th:text="${spaceType.spaceTitle}" th:href="@{/spaceType(id=${spaceType.spaceTypeId})}"></a>
    </div>
  </div>
  <a href="/locations.html">Locations</a>
         <a href="/about-us.html">About Us</a>
     </nav>
	<h2 class="space-title" th:text="${spaceType.spaceTitle}"></h2>
	<div class="container_space">


		<section class="card-sections">
			<div class="workspace-card" th:each="workspaceHub: ${spaceType.workspaceHubs}">
					<h3><a th:href = "@{/location(id=${workspaceHub.id})}" th:text="${workspaceHub.displayName}">	
				</a></h3>
				<img class="card-image" th:src="${workspaceHub.imageUrl}" alt="Picture of Work Space" />
				<p class="card-description" th:text="${workspaceHub.description}"></p>
				
				
				<div id="myModal" class="modal">


					<div class="modal-content">
						<span class="close">&times;</span>
						<img class="modal-image" th:src="${workspaceHub.imageUrl}" alt="Picture of Work Space" />
					</div>

				</div>

			</div>
		</section>
		<section class="filter">Filters

		<h4>Parking</h4>
		<form method="POST">
		<input name="id" type="hidden" th:value="parking" />
		<button th:formaction="@{/parking?id=1}">Garage</button>
		</form>

		<form method="POST">
		<input name="id" type="hidden" th:value="parking" />
		<button th:formaction="@{/parking?id=2}">Free Street Parking</button>
		</form>

		<form method="POST">
		<input name="id" type="hidden" th:value="parking" />
		<button th:formaction="@{/parking?id=3}">Parking Lot</button>
		</form>

		<h4>Entrance Cost</h4>
		<form method="POST">
		<input name="id" type="hidden" th:value="cost" />
		<button th:formaction="@{/cost?id=1}">Free Entry</button>
		</form>

		<form method="POST">
		<input name="id" type="hidden" th:value="cost" />
		<button th:formaction="@{/cost?id=3}">$</button>
		</form>

		<form method="POST">
		<input name="id" type="hidden" th:value="cost" />
		<button th:formaction="@{/cost?id=4}">$$</button>
		</form>

		<form method="POST">
		<input name="id" type="hidden" th:value="cost" />
		<button th:formaction="@{/cost?id=2}">$$$</button>
		</form>

		<form method="POST">
		<input name="id" type="hidden" th:value="cost" />
		<button th:formaction="@{/cost?id=5}">Coffee for Entry</button>
		</form>

		<h4>Entrance + Parking</h4>
		<form method="POST">
		<input name="id" type="hidden" th:value="cost-parking" />
		<button th:formaction="@{/cost-parking?cost-id=1&amp;parking-id=1}">Free Entry + Garage</button>
		</form>

		<form method="POST">
		<input name="id" type="hidden" th:value="cost-parking" />
		<button th:formaction="@{/cost-parking?cost-id=1&amp;parking-id=3}">Free Entry + Parking Lot</button>
		</form>

		<form method="POST">
		<input name="id" type="hidden" th:value="cost-parking" />
		<button th:formaction="@{/cost-parking?cost-id=1&amp;parking-id=2}">Free Entry + Street Parking</button>
		</form>

		<form method="POST">
		<input name="id" type="hidden" th:value="cost-parking" />
		<button th:formaction="@{/cost-parking?cost-id=2&amp;parking-id=1}">$$$ + Garage</button>
		</form>

		<form method="POST">
		<input name="id" type="hidden" th:value="cost-parking" />
		<button th:formaction="@{/cost-parking?cost-id=3&amp;parking-id=2}">$$ + Street Parking</button>
		</form>

		<form method="POST">
		<input name="id" type="hidden" th:value="cost-parking" />
		<button th:formaction="@{/cost-parking?cost-id=3&amp;parking-id=3}">$ + Parking Lot</button>
		</form>

		<form method="POST">
		<input name="id" type="hidden" th:value="cost-parking" />
		<button th:formaction="@{/cost-parking?cost-id=4&amp;parking-id=3}">$$ + Parking Lot</button>
		</form>

		<form method="POST">
		<input name="id" type="hidden" th:value="cost-parking" />
		<button th:formaction="@{/cost-parking?cost-id=5&amp;parking-id=3}">Coffee + Parking Lot</button>
		</form>

		<form method="POST">
		<input name="id" type="hidden" th:value="cost-parking" />
		<button th:formaction="@{/cost-parking?cost-id=5&amp;parking-id=2}">Coffee + Street Parking</button>
		</form>
		</section>
	</div>

	<footer>
		<p>Copyright 2017</p>
		<div class="contact-stuff">
			<a href="www.facebook.com"><img src="images/facebook.png"
				alt="facebook" /></a> <a href="www.twitter.com"><img
				src="images/twitter.png" alt="twitter" /></a> <a href="mailto:email@email.com"><img src="images/email.jpg"
				alt="email" /></a> <img src="images/copyright.png" alt="copyright" />
		</div>
	</footer>
</body>
<script src="js/script.js"></script>

</html>
