<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
  <title>WorkSpace Hub -- Home</title>
  <link rel="stylesheet" type="text/css" href="css/normalize.css"/>
  <link rel="stylesheet" type="text/css" href="css/layout.css"/>
  <link rel="stylesheet" type="text/css" href="css/style.css"/>

  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"/>

  <link href="https://fonts.googleapis.com/css?family=Carme" rel="stylesheet"/>



  <style>
     
    </style>


</head>
<body>
<header>
  		<img src="images/Logo.png" alt="logo" class="logo-image"/>
  	</header>
   
 <nav>
        <p>Home</p>
        <p>Categories</p>
        <p>About Us</p>
    </nav>
  <div class="container">
  	
      <div class="home-images">
      <div class="spacetype-image">
        <div th:each="spaceType: ${spaceTypes}">
    		  <a th:href="@{/spaceType(id=${spaceType.spaceTypeId})}">
    		    <img th:src="${spaceType.spaceImageUrl}" alt="Picture of type of workspace"/>
    		  </a>
        </div>
      </div>
        <div class="nearme-icon">
    <img src="images/nearme.png"></img>
        </div>
    	</div>
    
  	
  </div>


    <!-- <div class="container">
      <div class="options-box">
        <h1>Find Workspace Hub</h1>
        <div>
          <input id="show-listings" type="button" value="Show Listings"></input>
          <input id="hide-listings" type="button" value="Hide Listings"></input>
          <hr></hr>
          <span class="text"> Draw a shape to search within it for homes!</span>
          <input id="toggle-drawing"  type="button" value="Drawing Tools"></input>
        </div>

        <div>
          <input id="zoom-to-area-text" type="text" placeholder="Enter your favorite area!"></input>
          <input id="zoom-to-area" type="button" value="Zoom"></input>
        </div>
      </div>
      <div id="map"></div> 
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="/js/script.js"></script>
    <script async = "async" defer = "defer"
      src=
      "https://maps.googleapis.com/maps/api/js?libraries=geometry,drawing&amp;key=AIzaSyA1ZAXALsZD-NjPQfwCZrFZpioD7ARiXIs&amp;v=3&amp;callback=initMap">
  </script> -->

<footer>
		<p>Copyright 2017</p>
  		<div class="contact-stuff">
  			<a href="www.facebook.com"><img src="images/facebook.png" alt="facebook"/></a>
  			<a href="www.twitter.com"><img src="images/twitter.png" alt="twitter"/></a>
  			<a href="mailto:email@email.com"><img src="images/email.jpg" alt="email"/></a>
        <img src="images/copyright.png" alt="copyright"/>
  		</div>
  	</footer>

</body>
</html>
